[build]
  publish = "build"
  command = "npm run build"

[build.environment]
  # Disable secret scanning for these expected keys
  SECRETS_SCAN_OMIT_KEYS = "REACT_APP_WEATHER_API_KEY,REACT_APP_FIREBASE_API_KEY,REACT_APP_FIREBASE_AUTH_DOMAIN,REACT_APP_FIREBASE_PROJECT_ID,REACT_APP_FIREBASE_STORAGE_BUCKET,REACT_APP_FIREBASE_MESSAGING_SENDER_ID,REACT_APP_FIREBASE_APP_ID"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200